{% extends "base.html" %}

{% block titulo %}
    <title>CoderMed - Sobre Nosotros</title>
{% endblock titulo %}

{% block contenido %}
    <h1>Acerca de CoderMed</h1>
    <h2>Inicios:</h2>
    <p>Fundamos esta Obra Social en 2015 de la mano y direccion del Doctor Luis Miguel y el abogado Dr. Ricardo Martin</p>
    <h2>Nuestro dia a dia:</h2>
    <p>Trabajamos todos los dias para incluir a los mejores en el campo de la medicina en nuestra cartilla y las tecnicas mas innovadoras</p>
    <h2>Nuestra Mision:</h2>
    <p>Nuestra mision es llevar la salud de nuestros afiliados hasta los mejores especialistas e instituciones de la forma mas accesible</p>
{% endblock contenido %}