{% extends "base.html" %}

{% block titulo %}
    <title>CoderMed - Formularios</title>
{% endblock titulo %}

{% block contenido %}
    <div class="botonera-formularios">
        {% if user.is_staff %}
        <a href="{% url 'nuevo-especialista'%}">Ingresar nuevo Especialista</a>
        <a href="{% url 'nuevo-hospital'%}">Ingresar nuevo Hospital</a>
        <a href="{% url 'nuevo-articulo'%}">Publicar Nueva Noticia</a>
        {% endif %}
        {% if not user.is_staff%}
        <a href="{% url 'nueva-solicitud'%}">Solicitar Autorizacion</a>
        <a href="{% url 'lista-autorizaciones'%}">Lista de Autorizaciones</a>
        {% endif %}
    </div>
{% endblock contenido %}